#about {
  width: 100%;
  height: 180vh;
  background: rgb(24, 19, 24);
  position: relative;
  display: flex;
  
}

.aboutSection {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  /* border:1px solid #6000ff; */

  font-family: "Roboto Mono", "Courier New", Courier;
}

.aboutSection div {
  width: 100%;
  /* height: 40px; */
  line-height: 30px;

  padding-left: 5%;
  display: flex;
  /* align-items: center; */
}
.numbers {
  color: #777575;
  font-size: 18px;
  font-weight: 500;
  padding-left: 12%;
  
}

.keyWord {
  /* padding-left: 26px; */
  color: #6000ff;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.fun {
  /* padding-left: 26px; */
  font-size: 18px;
  letter-spacing: 0.5px;
  color: rgb(218, 255, 10);
}
.Bracket {
  color: #fff;
  font-size: 20px;
}
.comment {
  font-size: 18px;
  /* padding-left: 30px; */
  color: #646262;
  letter-spacing: 0.5px;
  padding-left: 5px;
}
.Reads {
  /* padding-left: 26px; */
  font-size: 18px;
  color: #e90202;
  letter-spacing: 0.5px;
}
.Namaing {
  letter-spacing: 0.5px;
  font-size: 18px;
  color: #00b670;
}
.Equal {
  padding: 0 5px 0 5px;
  font-size: 18px;
  color: #eb0000;
}
.strings {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #1aff05;
}
.contents {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  /* padding-left: 30%; */
}
.timestamp {
  color: #d8a600;
  font-size: 18px;
}
.lineNo {
  position: relative;
 
}
.lineNo:hover {
  background: #464444c0;
}
@media screen and (max-width: 800px) {
  .aboutSection div {
    padding-left: 5%;
    height: auto;
    line-height: 30px;
  }
  .numbers {
    padding-left: 9%;
  }
  /* #about{
    height: 190vh;
  } */
}
