.outerRing {
  position: fixed;
  height: 23px;
  width: 23px;
  pointer-events: none;
  border: 1px solid #fff;
  z-index: 99;
  mix-blend-mode: difference;
  transition: .4s;
  
  border-radius: 50%;
}
.innerDot {
  position: fixed;
  pointer-events: none;
  height: 7px;
  width: 7px;
  background: #fff;
  border-radius: 50%;
  z-index: 100;
  mix-blend-mode: difference;
  
}
